{% assign _dates = page.inputPath | gitDates %}
{% if _dates %}
<p class="byline">
  By <a href="/about/stef/" rel="author">Stef</a>
  &middot;
  {% assign _publishedDay = _dates.published | isoDate %}
  {% assign _updatedDay = _dates.updated | isoDate %}
  <time datetime="{{ _publishedDay }}">Published {{ _dates.published | humanDate }}</time>
  {% if _updatedDay and _updatedDay != _publishedDay %}
  &middot;
  <time datetime="{{ _updatedDay }}">Updated {{ _dates.updated | humanDate }}</time>
  {% endif %}
</p>
{% endif %}
