<div>
  <p>
    &copy; 2026
    <a href="https://find-and-update.company-information.service.gov.uk/company/17050113">
      Chobble CIC
    </a>
  </p>
  <p>
    <a href="/social-impact/">Community Interest Company</a>
    <a href="https://find-and-update.company-information.service.gov.uk/company/17050113" rel="nofollow">17050113</a>
  </p>
  <p>Web design in <a href="/prestwich/">Prestwich</a></p>
  <p><a href="/friends/">Trusted suppliers</a></p>
</div>

<div>
  <p>
    My code is
    <a rel="nofollow" href="https://www.gnu.org/licenses/agpl-3.0.en.html">
      AGPLv3 licensed
    </a>
  </p>
  <p>
    I donate
    <a
      rel="nofollow"
      href="https://blog.chobble.com/blog/25-01-04-against-malaria/"
      >10%</a
    >
    to the
    <a href="https://www.againstmalaria.com">Against Malaria Foundation</a>
  </p>
  <ul>
    <li><a href="/about/stef/">About Stef</a></li>
    <li><a href="/privacy/">Privacy</a></li>
    <li><a href="/terms/">Terms</a></li>
    <li><a href="/accessibility/">Accessibility</a></li>
    <li><a href="/complaints/">Complaints</a></li>
  </ul>
</div>

<div>
  <ul>
    <li>
      <a rel="nofollow" href="https://blog.chobble.com">My blog</a>
    </li>
    <li>
      <a rel="nofollow" href="https://git.chobble.com">Source code</a>
      <a rel="nofollow" href="https://github.com/chobbledotcom">(Github)</a>
    </li>
    <li>
      <a rel="nofollow" href="https://uk.trustpilot.com/review/chobble.com">Trustpilot</a>
    </li>
    <li>
      <a rel="nofollow" href="https://maps.app.goo.gl/kNqgHRNaMgPDp7Mo8">Google Maps</a>
    </li>
  </ul>
</div>
