@font-face {
  font-family: "Bayland";
  src: url("Bayland-brand.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0062, U+0063, U+0065, U+0068, U+006C, U+006F; /* b c e h l o */
}
