---
layout: base
---

{{ content }}

<ul reversed class="postlist">
  {% assign posts = collections.blog | reverse %}
  {%- for post in posts %}
    <li>
      <a href="{{ post.url }}">
        {{ post.data.title }}
      </a>
    </li>
  {%- endfor %}
</ul>
