---
layout: base
---
<article class="client">
    {{ content }}

    <aside class="client-cta">
        <h2>Want results like these?</h2>
        <p>Let's discuss how we can achieve similar success for your business.</p>
        <a href="/contact/" class="button">Contact us</a>
    </aside>
</article>
