---
layout: base.html
---

<article id="content" class="examples">
  {{ content }}

  <ul class="cards">
  {%- assign sorted_examples = collections.example | sort: 'data.order' -%}
  {%- for example in sorted_examples -%}
    <li>
      <a
        href="{{ example.url }}#content"
        class="example-thumb"
        {% if example.data.colour -%}
          style="background: {{ example.data.colour }}"
        {% endif -%}
      >
        <img
          {% if forloop.index < 4 %}
            loading="eager"
          {% endif %}
          eleventy:widths="310,465,629"
          sizes="
            (min-width: 1100px) 310px,
            (min-width: 780px) calc(50vw - 45px),
            100vw
          "
          class="thumbnail"
          src="/assets/examples/{{ example.fileSlug }}.png"
          alt=""
        />
      </a>
      <h2>
        <a href="{{ example.url }}#content">
          {{- example.data.title -}}
        </a>
      </h2>
      {{ example.data.snippet }}
    </li>
  {%- endfor -%}
  </ul>
</article>
