---
layout: base
---

<div class="home">
  <div class="content">
    {{ content }}
  </div>
  <div class="examples">
    <a href="/examples/this-and-that">
	  <img src="/assets/this-and-that.png">
	</a>
  </div>
</div>
