---
layout: base.html
---

<article id="content" class="home">
  <h1>{{ heading }}</h1>
  <nav class="cards homepage">
    <a href="/services/">
      <h2>Services</h2>
      <img
        src="/assets/network.svg"
        width="130"
        height="130"
        alt=""
        eleventy:widths="30,45,130,195"
        sizes="(min-width: 780px) 130px, (min-width: 340px) 30px"
      />
    </a>
    <a href="/prices/">
      <h2>Prices</h2>
      <img
        src="/assets/store.svg"
        width="130"
        height="130"
        alt=""
        eleventy:widths="30,45,130,195"
        sizes="(min-width: 780px) 130px, (min-width: 340px) 30px"
      />
    </a>
    <a href="/examples/">
      <h2>Examples</h2>
      <img
        src="/assets/examples.svg"
        width="130"
        height="130"
        alt=""
        eleventy:widths="30,45,130,195"
        sizes="(min-width: 780px) 130px, (min-width: 340px) 30px"
      />
    </a>
    <a href="/contact/">
      <h2>Contact</h2>
      <img
        src="/assets/contact.svg"
        width="130"
        height="130"
        alt=""
        eleventy:widths="30,45,130,195"
        sizes="(min-width: 780px) 130px, (min-width: 340px) 30px"
      />
    </a>
  </nav>
  <div class="content">{{ content }}</div>
</article>
