---
layout: base
---
<article class="service">
  {{ content }}

  <aside class="service-cta">
    <h2>Ready to get started?</h2>
    <p>Contact us to discuss your {{ title | lower }} needs.</p>
    <p><a href="/contact/" class="button">Get in touch</a></p>
  </aside>
</article>
