---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>BASH.web Blog</title>
  <subtitle>Web development and tech insights</subtitle>
  <link href="https://bash.web/feed.xml" rel="self"/>
  <link href="https://bash.web"/>
  <updated>{{ site.time | dateToRfc3339 }}</updated>
  <id>https://bash.web</id>
  <author>
    <name>BASH.web</name>
    <email>hello@bash.web</email>
  </author>
  {% assign posts = collections.blog | reverse %}
  {% for post in posts %}
  {% capture absolutePostUrl %}https://bash.web{{ post.url }}{% endcapture %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls: absolutePostUrl }}</content>
  </entry>
  {% endfor %}
</feed>
